*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    width: 100%;
    z-index: 99999;
}

.navbar {
    transition: all 0.8s;
}

.animate-navbar {
    background-color: #212529;
}

.navbar .my_account li {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navbar .my_account li a {
    color: #fff;
}

.navbar .my_account li a i {
    font-size: 20px;
    position: relative;
}

.navbar .my_account li a i::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid;
}

.navbar .nav .nav-item .nav-link {
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
    /* background-color: yellow; */
    font-family: 'Roboto Slab';
    transition: 0.5s;
}

.navbar .nav .nav-item .nav-link:hover {
    color: #d99578;
}

.model {
    width: 100%;
    height: 0;
    background: #000000c6;
    transition: all .5s;
    overflow: hidden;
}

.reservations_header {
    color: #fff;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.reservations_header::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    background-color: #d99578;
    width: 2px;
    height: 150%;
    transform: translate(0, -50%) rotate(30deg);
}

.reservations_header h1 {
    color: #d99578;
}

.reservations_header p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
}

.list_reservations nav ul li {
    color: #fff;
}

.list_reservations nav ul li i {
    color: #d99578;
    margin-right: 5px;
}

.home-ha{
    height: 100vh;
    background-image: url(../images/pexels-photo-127160.jpeg);
    /* background-position: left; */
    background-size: cover;
    position: relative;
}
.home-ha .overlay-ha{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.6);
}
.home-ha .creative-ha{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 700px;
    padding-top: 100px ;
    /* background-color: violet; */
}
.home-ha .creative-ha .we-ha{
    font-family: 'Prata', serif;
    color: white;
    font-size: 24px;
    font-weight: lighter;
}
.home-ha .creative-ha .way-ha{
    font-family: 'Prata', serif;
    color: white;
    font-size: 70px;
    padding: 20px;
}
.home-ha .creative-ha .waya-ha{
    font-family: 'Mulish', sans-serif;
    color: white;
    font-size: 20px;
}




.awesome-ha{
    text-align: center;
    width: 700px;
    margin: auto;
    padding-top: 80px;
}
 .awesome-ha .agency-ha{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-transform: capitalize;
    font-weight:lighter;
    margin-bottom: 30px;
}
 .awesome-ha .agency-ha>.simple-ha{
    font-weight: bold;
    color: black;
}
 .awesome-ha .lorem-ha{
   color:  #666;
   font-size: 15px;
   font-family: 'Poppins', sans-serif;
   word-spacing: 1.5px;
   line-height: 1.5;
}

.mission-ha {
    width: 100%;
    display: flex;
}
.mission-ha .cover-ha{
    width: 60%;
    padding: 100px;
}
.mission-ha .cover-ha .shine-ha{
    display: flex;
}
.mission-ha .cover-ha .shine-ha .ipsum-ha{
    width: 2px;
    height: 100px;
    background-color:#d99578;
}
.mission-ha .cover-ha .shine-ha .ipsum-ha>.line-ha{
    display: block;
    height: 50px;
    width: 2px;
    background-color: rgb(129, 127, 127);
}
.mission-ha .cover-ha .shine-ha .digital-ha{
    padding: 0 20px;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}
.mission-ha .cover-ha .shine-ha .digital-ha .printer-ha{
    font-weight: bold;
    display: block;
    color: black;
}
.mission-ha .cover-ha .comfort-ha{
    padding: 30px 0;
    color: #666;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    word-spacing: 1;
}
.mission-ha .cover-ha .succeed-ha>i{
    color: white;  
    position: relative;
    left: 5px;
}
.mission-ha .cover-ha .succeed-ha{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d99578;
    position: absolute;
    text-align: center;
    cursor: pointer;
}
.mission-ha .cover-ha .watch-ha{
    padding: 0 70px;
    padding-top: 25px;
    color: #666;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.other-ha{
    width: 40%;
    /* background: cornflowerblue; */
    padding-top: 200px;
}
.other-ha >div>p{
    color: #666;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}
.other-ha .branding-ha .ding-ha{
    width: 450px;
    background-color: rgb(189, 185, 185);
    height: 2px;
}
.other-ha .branding-ha .ding-ha>span{
    display: block;
    width: 250px;
    background-color: #d99578;
    height: 2px;
}
.other-ha .web-ha .full-ha{
    width: 450px;
    background-color: rgb(189, 185, 185);
    height: 2px;
}
.other-ha .web-ha .full-ha>span{
    display: block;
    width: 400px;
    background-color: #d99578;
    height: 2px;
}
.other-ha .graphic-ha .phic-ha{
    width: 450px;
    background-color: rgb(189, 185, 185);
    height: 2px;
}
.other-ha .graphic-ha .phic-ha>span{
    display: block;
    width: 300px;
    background-color: #d99578;
    height: 2px;
}
.other-ha .development-ha .lopment-ha{
    width: 450px;
    background-color: rgb(189, 185, 185);
    height: 2px;
}
.other-ha .development-ha .lopment-ha>span{
    display: block;
    width: 350px;
    background-color: #d99578;
    height: 2px;
}















.important-trip{
    width: 100%;
    height: auto;
    text-align: center;
    /* margin: 80px 0; */
    padding: 100px 0;
    background-color:whitesmoke;
}
.important-trip>.line{
    background-color: rgb(172, 170, 170);
    width: 150px;
    height: 1px;
    margin: auto;
}
.important-trip>.line>.m-line{
   background-color: #d99578;
   width: 70px;
   height: 5px;
   display: block;
   margin: auto;
}
.important-trip >h2{
    color:rgb(33, 37, 41) ;
    font-family: 'Roboto Slab' ;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 700;

}
.important-trip >.box{
    width: 25%;
    /* display: flex; */
    justify-content: center;
    display: inline-block;
    margin: 0 70px;
    background-color: white;
    box-shadow:0px 5px 35px 0px rgb(148 146 245 / 55%);
    border-radius: 1px;
    margin-top: 50px;
}
.important-trip >.box>img{
    /* border-radius: 10px; */
    cursor: pointer;
    border:whitesmoke solid 1px;
    transition: all 0.5s;
}
.important-trip >.box>.trip-span>span{
    font-size: 17px;
    line-height: 2;
    text-transform: capitalize;
    color: black;
    display: block;
    
}
.important-trip >.box>.trip-span:hover{
text-shadow:  1px 1px 2px gray ;
}
.important-trip >.box>.btn-click{
    text-decoration: none;
    display:block;
    line-height: 1.7;
    text-align: center;
    font-size: 17px;
    padding: 5px 0;
    outline: none;
    border: none;
    text-transform: capitalize;
    background-color:#212529;
    color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 130px;
    height: 40px;
    transition: 0.5s;
}
.important-trip >.box>.btn-click:hover{
    background-color:#d99578 ;
    color: black;
}


.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Montserrat', sans-serif;
	background-image: url('../images/pexels-photo-2445852.jpeg');
	background-size: cover;
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(38, 38, 39, 0.6);
}

.booking-form {
	background-color: #fff;
	padding: 50px 20px;
	-webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-control {
	background-color: #ebecee;
	border-radius: 4px;
	border: none;
	height: 40px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #3e485c;
	font-size: 14px;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control::placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 4px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(62, 72, 92, 0.3);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	display: inline-block;
	color: #3e485c;
	font-weight: 700;
	margin-bottom: 6px;
	margin-left: 7px;
}

.booking-form .submit-btn {
	display: inline-block;
	color: #fff;
	background-color: #d99578;
	font-weight: 700;
	padding: 14px 30px;
	border-radius: 4px;
	border: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}

.booking-cta {
	margin-top: 80px;
	margin-bottom: 30px;
}

.booking-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

.booking-cta p {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
}





















.log-footer{
    /* margin: 50px 0; */
    padding: 50px 50px;
    width: 100%;
    height: 500px;
    background-image: url('../images/footer-bg-1-1.jpg');
    display:flex;
}

 .footer_logo{
    text-align: center;
}
.footer_container{
    justify-content: center;
}

.footer-footer-content .footer-list{
    text-align: right;
}

.special{
    color: #999;
}

.footer-list li{
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
    cursor: pointer;
}
.footer-footer-content .footer-list li:hover{
    color:#d99578;
}
.footer-footer-content{
    /* padding: 10px 0; */
    color: #fff;
}
.footer-footer-content .footer-container-1 i{
    color:#d99578;

}



.log-footer .left-footer div,span{
    /* padding: 0 100px;
    margin: 20px 0; */
    /* display:block; */
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
/* .log-footer .left-footer .footer-icon1{
    /* padding: 0 100px;
    margin: 20px 0; */
    /* display:block; */
    /* width: 50px; */
/* }  */
.log-footer .left-footer .footer-icon1>div:hover{
    color:#d99578; 
}

/* .log-footer .left-footer span,div:hover{
    color:#d99578;
} */

.log-footer .left-footer div i{
    margin: 0 10px;
    /* display: flex; */
}
.log-footer .left-footer .face{
    text-align: left;
    margin-left:-8px;
    color:#d99578;
    /* display: flex; */
    /* background-color: crimson; */
}
.footer-icon2{
    display: flex;
    padding: 20px 0;
}
.footer-icon1 > div{
    /* display: inline-block; */
    padding: 10px 0;
}
.log-footer .left-footer .face i:hover{
    background-color:#d99578;;
    color:white;
}
.log-footer .left-footer .face i{
    width: 40px;
    height: 40px;
    border: #d99578 1px solid;
    border-radius: 50%;
    padding-top: 12px;
    padding-left: 12px ;
    transition: 0.5s;
    background-color: white;
    /* font-size: 15px; */
}

/* footer center */
.footer-sh{
    padding: 60px 0;
    background-color: white;
    color: #fff;
}
.line-footer-sh{
    width: 255px;
    height: 1px;
    background-color: rgb(100, 99, 99);
}
.footer-container-sh{
    padding: 15px 0;
}
.footer-span-sh{
    font-weight: 100;
}
.footer-title-sh{
    color: white;
}
.footer-text-sh{
    color: white;
}
.footer-text-sh{
    width: 75%;
}
.footer_container{
    padding: 45px 0;
}

#to-top {
    position: fixed;
    bottom: 60px;
    right: 35px;
    /* width: 40px; */
    height: 40px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    padding: 10px 15px;
    background: linear-gradient(to right, rgb(100, 99, 99), #d99578);
    font-weight: bold;
    color: #ffffff;
    size: 40px;
    display: none;
}